[report]
omit =
    */python?.?/*
    */openpathsampling/*
    */paths_cli/version.py
    */paths_cli/_installed_version.py
    */paths_cli/tests/*
exclude_lines =
    no-cov
    def __repr__
    raise NotImplementedError
